.submit{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 0px auto;
	height:65px;
	font-weight: 800;
	
}

.form-row{
	display: flex;
	

}

.footer-generic{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5em;
}

.footer-machines{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5em;

}

.media-container{
	display:grid;
	justify-content: center;
	align-items:center ;
	grid-template-columns: repeat(auto-fill, minmax(300px, 300px));;
	
}

.media-container img{
	width: 300px;
	height: auto;
	max-width:300px;
	object-fit:cover;
	object-position: center;
	justify-content: space-evenly;
	border: 20px solid lightcoral;
	border: 0%;
	
}

.gallery{
	display: flex;
	justify-content: center;
	
}

.openmicreturn{
	display:flex;
	justify-content:center;
	align-items: center;
	margin: 0 auto;
	height:65px;
	font-weight: 800;
	color: white;
}

.maps{
	margin-top: 50px;
	padding: 3em 2em 1em 2em ;
	padding-top: black;
	height: 500px;
}

.maps h1{
	text-align: center;
}

@media screen and (max-width: 1457px){
	.maps{
		height: 550px;
	}
	
	.op{
		display:flex;
	    list-style:none;
	    align-items: center;
        flex-direction:column;
        flex-wrap: wrap;
	    text-align: center;
					}
	}

