.submit{
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 0px auto;
	height:65px;
	font-weight: 800;
	
}

.form-row{
	display: flex;
	

}

.footer-generic{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5em;
}

.footer-machines{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5em;

}

.media-container{
	display:grid;
	justify-content: center;
	align-items:center ;
	grid-template-columns: repeat(auto-fill, minmax(300px, 300px));;
	
}

.media-container img{
	width: 300px;
	height: auto;
	max-width:300px;
	object-fit:cover;
	object-position: center;
	justify-content: space-evenly;
	border: 20px solid lightcoral;
	border: 0%;
	
}

.gallery{
	display: flex;
	justify-content: center;
	
}

.openmic {
	display:flex;
	justify-content:center;
	align-items: center;
	margin: 0 auto;
	height:65px;
	font-weight: 800;
	color: white;
}

.maps{
	margin-top: 50px;
	padding: 3em 2em 1em 2em ;
	padding-top: black;
	
}

.maps h1{
	text-align: center;
}

@media screen and (max-width: 1457px){
	.maps{
    display: inline-block;
	max-width: fit-content;
	max-height: fit-content;
	margin: 0 5px;
		
	}
	
	.op{
		display:flex;
	    list-style:none;
	    align-items: center;
        flex-direction:column;
        flex-wrap: wrap;
	    text-align: center;
		justify-content: space-between;
		
					}

	
	}

	@media screen and (max-width: 1078px) {

	
		.op{
			/*display:block;
			list-style:circle;*/
			float:right;
	
	
			padding-left: 37px;
			position:initial; }
			/* right: 125px; */
			/* top: 100px; */}
	
			.maps{
				
				height: 900;
			}
	
			@media screen and (max-width: 1279px) {
	
		
		
				/*.card-container{
					grid-template-columns: 100%;
					width: 100vw;
				}
				.card-img{
					height: 330px;
				}
			*/
				.op{
					/*display:block;
					list-style:circle;*/
					float:none;
			
			
					padding-left: 2px;
					position:initial;
				    margin-left: 60px;}
					/* right: 125px; */
					/* top: 100px; */ }

					.map{
						margin-left: 40px;
					}

					.maps h1{
						margin-left: 70px;
					}

					.op h1{
						margin-right: 55px;
					}
	
	
	
	
					@media screen and (max-width: 1279px) {
						.op{
							display:flex;
							list-style:none;
							align-items: center;
							flex-direction:column;
							flex-wrap: wrap;
							text-align: center;
							
						}
	
						
					}
	
	
	
			
	@media screen and (max-width: 666px){
		.maps iframe{
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 90%;
			height: 30%;
	}
	
		.maps{
			
			height: 700px;
		}
			
		}
	
		@media screen and (max-width: 736px){
			.maps{
				height: 700px;
			}
		}

		.menu{
			list-style: none;
			
		}

		.menu li{
		margin-bottom:10px;
		}

		.menu h2{
			margin-top:5px;
		}

@media screen and (min-width: 1280px) {
	.op{
		display:inline-block;
		list-style:none;
		align-items: center;
		flex-direction:column;
		
		text-align: center;
		margin-right:150px;
		margin-top: 0px;
		position: relative;
		left:390px;
				
			}

			
		}

		
		@media screen and (max-width: 361px) {

			.nav {
				display: inline-block;
				padding: 2px;
				max-width: calc(100% - 32m);;
			}

		}

	
.main-special form{
	display: flex;
	flex-direction: column;
	
}